.container {
  background-color: var(--bg);
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  flex: 1;
  margin-bottom: 16px;
  max-height: calc(100vh - 228px);
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 12px;
}

.container::-webkit-scrollbar-track {
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.cities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
}
