@use '../../styles/shared';

.container {
  @extend %card;
  display: flex;
  align-items: center;
  justify-content: space-between;

  [data-reach-combobox-input] {
    @extend %inp;
  }

  [data-reach-combobox] {
    width: max-content;
  }
}

.addAZone {
  font-weight: bold;
  color: var(--text-light);
}

.city {
  font-weight: bold;
  margin-bottom: 2px;
}

.timezone {
  font-size: 12px;
}
