// global styles

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg: #2c2c2c;
  --bg-tint: #212121;
  --bg-clip: #1d1d1d;
  --bg-dark: #0f0f0f;
  --text: #ffffff;
  --text-invert: #131313;
  --text-secondary: #dbdbdb;
  --text-light: #a3a3a3;
  --neon-purple: #9d00ff;
  --neon-green: #00ff00;
  --neon-yellow: #f5d300;
  --neon-blue: #00ffff;
  --neon-pink: #ff00ff;
  --neon-violet: #ce96fb;
  --neon-pink-light: #e92efb;
  --neon-blue-dark: #440bd4;
  --neon-blue-darker: #04005e;
}

[data-reach-combobox-popover] {
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

[data-reach-combobox-list] {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-reach-tooltip] {
  background-color: var(--bg-dark);
  color: var(--text);
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 8px;
}
