// global styles

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg: #2c2c2c;
  --bg-tint: #212121;
  --text: #ffffff;
  --text-invert: #131313;
  --text-secondary: #dbdbdb;
  --text-light: #a3a3a3;
  --neon-purple: #9d00ff;
  --neon-green: #00ff00;
  --neon-blue: #00ffff;
  --neon-pink: #ff00ff;
}

[data-reach-combobox-popover] {
  border-radius: 10px;
  overflow: hidden;
}

[data-reach-combobox-list] {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
