.container {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appName {
  margin: 0;
  color: var(--text);
  font-size: 24px;
}

.currTZ {
  padding: 10px;
  border-radius: 10px;
  color: var(--text-light);
  background-color: var(--bg);
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
