.container {
  background: var(--bg-tint);
  padding: 10px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cityName {
  font-weight: bold;
  color: var(--text);
  font-size: 16px;
}

.timezone {
  font-size: 14px;
  color: var(--text-light);
}

.time {
  font-size: 42px;
  font-weight: bold;
  color: var(--text);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 20px;
}

.day {
  background-color: var(--text-secondary);
  & > svg {
    fill: var(--bg-tint);
  }
}

.night {
  background-color: var(--bg-dark);
  & > svg {
    fill: var(--text);
  }
}
