.container {
  background: var(--bg-tint);
  padding: 10px 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.cityName {
  font-weight: bold;
  color: var(--text);
  font-size: 16px;
}

.timezone {
  font-size: 14px;
  color: var(--text-light);
}

.time {
  font-size: 42px;
  font-weight: bold;
  color: var(--text);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 20px;
}

.day {
  background-color: var(--text-secondary);
  & > svg {
    fill: var(--bg-tint);
  }
}

.night {
  background-color: var(--bg-dark);
  & > svg {
    fill: var(--text);
  }
}

.actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  button {
    border-radius: 5px;
    border: none;
    background-color: var(--bg);
    color: var(--text);
    display: grid;
    padding: 2px 0;
    place-items: center;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    svg {
      fill: var(--text);
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .actions {
    grid-template-columns: repeat(3, 60px);
    justify-content: flex-end;

    button {
      filter: brightness(0.9);
      &:hover {
        filter: brightness(1);
      }
    }
  }
}
